.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px 10px;
  margin: 0px auto;
}
.gridMobile {
  display: none;
  gap: 10px;
  padding: 0px 10px;
  margin: 0px auto;
}
.cars {
  display: none;
  margin-left: 20px;
}
@media (max-width: 750px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 650px) {
  .gridMobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }
  .grid {
    display: none;
  }
  .cars {
    display: block;
  }
}

.viewMoreButton {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
