.card {
  position: relative;
  width: 100%;
  max-width: 310px;
  margin: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: auto;
}

.title {
  font-size: 0.8rem;
  /* margin: 10px 0; */
  padding: 0 10px;
}

.price {
  font-size: 1rem;
  margin: 5px 0;
}
.priceBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.miles {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 0.8rem;
  margin: 5px 0;
  padding: 0 10px;
  color: orangered;
}
.carColor {
  display: flex;
  justify-content: right;
  align-items: center;
  /* padding-right: 5px; */
}
.finalColor {
  width: 35%;
}
.intColor {
  color: #000;
  font-size: 15px;
}
.extColor {
  color: #1d82d5;
  font-size: 15px;
}
@media (max-width: 650px) {
  .title,
  .miles {
    font-size: 0.5rem;
  }
  .price {
    font-size: 0.7rem;
  }
  .carColor {
    font-size: 12px;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .finalColor {
    width: 40%;
  }
  .availabilityButton {
    margin: 5px;
    padding: 5px;
    font-size: 8px;
  }
  .card {
    width: 96%;
  }
}
.titleMiles {
  width: 65%;
  display: flex;
  flex-direction: column;
}
.availabilityButton {
  display: block;
  margin: 10px 10px;
  padding: 10px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.carFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.priceSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10px;
  font-weight: 550;
}
.monthPrice {
  font-size: 12px;
}
.heartButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  color: #ff3b3b;
  cursor: pointer;
  z-index: 2;
}
