.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}
@media (max-width: 750px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 650px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.viewMoreButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
