.container {
  padding: 20px 30px;
  width: 100%;
}

.card {
  text-align: center;
  padding: 20px;
  height: 220px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.icon {
  font-size: 150px;
  color: #000;
}

.title {
  font-weight: bold;
  margin: 10px 0;
}

.description {
  color: #666;
}
@media (max-width: 800px) {
  .card {
    height: 300px;
  }
}
@media (max-width: 650px) {
  .container {
    display: none;
  }
}
.containerMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
}
.serviceItemMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  text-align: center;
}

.iconMobile {
  font-size: 40px;
  color: #000;
}

.titleMobile {
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
}
.serviceMobile {
  display: flex;
}
.containerHeading {
  margin-left: 40px;
}
@media (min-width: 650px) {
  .containerMobileFinal {
    display: none;
  }
}
